.App {
  text-align: center;
}

.Content {
  display: flex;
  flex-wrap: nowrap
}

.Browse {
  width: 50%;
  margin: 8px;
  margin-left: 20%;
}

.Details {
  width: 50%;
  margin: 8px;
  margin-right: 20%;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px;
}

.Active {
  font-weight: bold;
}